.board {
    float: left;
    margin: 0 10px;
}
.menu, .orders {
    border: 1px solid;
    width: 200px;
}
.menu-title, .orders-title {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.item {
    border-top: 1px solid;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.current-order {
    padding: 10px;
}
.empty-orders {
    border-top: 1px solid black;
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: grey;
}
.clear {
    clear: left;
}